.fcs-realtime-geo-metadata-wrapper {
  min-width: 200px;
  position: absolute;
  top: .5em;
  left: .5em;
  font: 12px sans-serif;
}

.fcs-realtime-geo-metadata-row-items{
  list-style-type: none;
  padding: 0;
}

.fcs-realtime-geo-metadata-row-item {
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: .5em;
  padding: .5em;
}

.geo-row-data-large {
  font-size: 2em;
  font-weight: bold;
  color: #848484;
}

.geo-row-data-items {
    font-size: 1.1em;
    padding: 10px 0px 0px;
    list-style-type: none;
}

.fcs-realtime-title {
  font-size: .800em;
  font-weight: 600;
  border-bottom: 1px solid darkgray;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.geo-row-data-items label {
  min-width: 40%;
  display: inline-block;
  font-weight: 600;
}