<div class="fcs-realtime-geo-metadata-wrapper">
    <ul class="fcs-realtime-geo-metadata-row-items">
        <li class="fcs-realtime-geo-metadata-row-item">
            <h3 class="fcs-realtime-title">LAST 24 HOURS ACTIVITIES</h3>
            <ul class="geo-row-data-items">
                <li class="geo-row-data-item"><span class="geo-row-data-large">{{overallCount}}</span></li>
            </ul>
        </li>
        <li class="fcs-realtime-geo-metadata-row-item">
            <h3 class="fcs-realtime-title">TOP 5 MARKETS</h3>
            <ul class="geo-row-data-items">
                <!--<li *ngFor="let marketItem of markets">{{marketItem.}}</li>-->
                <li class="geo-row-data-item"><label>Florida : </label>123,021</li>
                <li class="geo-row-data-item"><label>Boston : </label>23,021</li>
                <li class="geo-row-data-item"><label>California : </label>13,021</li>
                <li class="geo-row-data-item"><label>Beltway : </label>3,044</li>
                <li class="geo-row-data-item"><label>Keystone : </label>1,021</li>
            </ul>
        </li>
        <li class="fcs-realtime-geo-metadata-row-item">
            <h3 class="fcs-realtime-title">COUNTS BY DIVISIONS</h3>
            <ul class="geo-row-data-items">
                <li class="geo-row-data-item"><label>Central : </label>123,021</li>
            </ul>
        </li>
        <li class="fcs-realtime-geo-metadata-row-item">
            <h3 class="fcs-realtime-title">COUNTS BY MISMATCH CONDITIONS</h3>
            <ul class="geo-row-data-items">
                <!--<li *ngFor="let #errorCode of erroCodes | keys">{{errorCode.key}} , Value : {{errorCode.value}}</li>-->
                <li class="geo-row-data-item"><label>1600112 : </label>123,021</li>
                <li class="geo-row-data-item"><label>1600117 : </label>23,021</li>
                <li class="geo-row-data-item"><label>1600118 : </label>3,021</li>
                <li class="geo-row-data-item"><label>1600119 : </label>2,021</li>
            </ul>
        </li>
    </ul>
</div>