.land {
    fill: #bebebe;
}

.border {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.bubble {
    fill: #dc4223;
    fill-opacity: .65;
    stroke: #FFFFFF;
    stroke-width: 1px;
}

.bubble :hover {
    stroke: #000000;
}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}

.feature {
    stroke: grey;
    stroke-width: 1px;
    stroke-linejoin: round;
}
.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2px;
    stroke-linejoin: round;
}
h1 {
    font-family: sans-serif;
}

div.tooltip {   
    position: absolute;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 1px solid;
    border-radius: 5px;
    pointer-events: none;
    fill-opacity:  0.1;
    min-width: 100px;
    min-height: 100px;
}

.geoDataToolTip{
    margin: 2px;
    padding: 1px;
    font-size: 12px;
    line-height: 18px;
}

.geoDataToolTipItem{
    list-style-type: none;
}


@-webkit-keyframes hvr-pulse {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    30%{
        transform: scale(1.1);opacity:0.65;
        -webkit-transform: scale(1.1);opacty: 0.65;
    }
    70%{
        transform: scale(1.2);opacity:0.3;
        -webkit-transform: scale(1.2);opacity: 0.3;
    }
    100%{
        transform: scale(1.3);opacity: 0;
        -webkit-transform: scale(1.3); opacity:0;
    }
}
@keyframes hvr-pulse {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
    30%{
        transform: scale(1.1);opacity:0.65;
        -webkit-transform: scale(1.1);opacty: 0.65;
    }
    70%{
        transform: scale(1.2);opacity:0.3;
        -webkit-transform: scale(1.2);opacity: 0.3;
    }
    100%{
        transform: scale(1.3);opacity: 0;
        -webkit-transform: scale(1.3); opacity:0;
    }
}
.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
    transform-origin: 50% 50%;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  cursor: pointer;
}