<div class="fcs-realtime-geo-wrapper">
        <realtime-scale></realtime-scale>
        <div class="fcs-realtime-geo-view-wrapper">
            <geo-meta-data></geo-meta-data>
            <geo-chart class="fcs-realtime-geo-chart" id="geo-chart">
                <!-- Geo Chart Goes Here -->
            </geo-chart>
        </div>
        <div class="fcs-division-geo-view-wrapper">
            <ul class="fcs-division-items">
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">Central Divition</h3>
                    <div class="fcs-division-chart-container">
                        <!-- Geo Chart Goes Here -->
                    </div>
                </li>
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">Northeast Divition</h3>
                    <div class="fcs-division-chart-container">
                        <!-- Geo Chart Goes Here -->
                    </div>
                </li>
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">West Divition</h3>
                    <div class="fcs-division-chart-container">
                        <!-- Geo Chart Goes Here -->
                    </div>
                </li>
            </ul>
        </div>
    </div>

