<div class="fcs-realtime-geo-wrapper">
        <realtime-scale></realtime-scale>
        <div class="fcs-realtime-geo-view-wrapper">
            <geo-meta-data></geo-meta-data>
            <!--<geo-chart class="fcs-realtime-geo-chart" id="geo-chart" [height]="mainGeoChart.height" [width]="mainGeoChart.width" [divId]="mainGeoChart.divId" [hubdata]="hubDetails"></geo-chart>-->
            <geo-chart class="fcs-realtime-geo-chart" id="geo-chart" [height]="mainGeoChart.height" [width]="mainGeoChart.width" [divId]="mainGeoChart.divId"></geo-chart>      
        </div>
        <div class="fcs-division-geo-view-wrapper">
            <ul class="fcs-division-items">
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">CENTRAL DIVISION</h3>
                    <division [area]="divisionChart.centralDivId"></division>
                    <geo-chart class="fcs-division-chart-container" id="geo-central-division" [height]="divisionChart.height" [width]="divisionChart.width" [divId]="divisionChart.centralDivId">
                        <!-- Geo Chart Goes Here -->
                    </geo-chart>
                </li>
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">NORTHEAST DIVISION</h3>
                    <division [area]="divisionChart.neDivId"></division>
                    <geo-chart class="fcs-division-chart-container" id="geo-ne-division" [height]="divisionChart.height" [width]="divisionChart.width" [divId]="divisionChart.neDivId">
                        <!-- Geo Chart Goes Here -->
                    </geo-chart>
                </li>
                <li class="fcs-division-item">
                    <h3 class="fcs-realtime-title">WEST DIVISION</h3>
                    <division [area]="divisionChart.westDivId"></division>
                    <geo-chart class="fcs-division-chart-container" id="geo-west-division" [height]="divisionChart.height" [width]="divisionChart.width" [divId]="divisionChart.westDivId">
                        <!-- Geo Chart Goes Here -->
                    </geo-chart>
                </li>
            </ul>
        </div>
    </div>
